$main-color :  rgb(184, 140, 86);
$dark-color : chocolate;
$letter-color : rgb(188, 117, 67);
$nav-color : brown;
$hover-color : green;
$grilla-color : rgb(245, 234, 221);
$border-color : rgb(196, 138, 96);
$text-color :  rgb(213, 172, 122);

$font:'Roboto';

$p-1 : 10px;
$p-2 : 20px;
$p-5 : 50px




